<!DOCTYPE html> {%extends "base.html"%}{%block
title%}Collection{%endblock%}{%block content%}
<div class="container">
  <h1 class="text-center">{{user.username}}'s Collection</h1>
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6">
    {% for pokemon in pokemon %}
    <div class="col mb-4">
      <div
        class="card border-1 border-dark rounded d-flex flex-column h-100 p-3"
      >
        <img
          src="{{pokemon.image}}"
          class="card-img-top"
          alt="Sprite image of {{pokemon.species}}"
        />
        <div class="card-body">
          <h4 class="card-title">{{pokemon.name}}</h4>
          <p class="card-text">
            <b>Type:</b> {%if pokemon.type2 == "Unknown"%} {{pokemon.type1 |
            capitalize}} {%elif pokemon.type3 =="Unknown"%} {{pokemon.type1 |
            capitalize}}, {{pokemon.type2 | capitalize}} {%else%}
            {{pokemon.type1 | capitalize}}, {{pokemon.type2 | capitalize}},
            {{pokemon.type3 | capitalize}} {%endif%}
          </p>

          <p class="card-text"><b>Weight:</b> {{pokemon.weight}} Hectograms</p>
          <p class="card-text"><b>Height:</b> {{pokemon.height}} Decimeters</p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}
