<!DOCTYPE html> {%extends "base.html"%}{%block title%}Log In{%endblock%}{%block
content%}

<div class="container mt-4 text-center">
  <h2>Please Sign In</h2>
  <form
    action="/login"
    method="POST"
    id="user_login_form"
    class="mx-auto"
    style="max-width: 400px"
  >
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <div class="form-group mb-3">
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(class="form-control", placeholder=field.label.text)
      }}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
  <br />
  <a href="/signup">Create Account</a>
</div>
{%endblock%}
